/* Esquema de cores */

.cor1 {
    color: #ADC7FF;
}

.cor2 {
    color: #2B3240;
}

.cor3 {
    color: #ABB6FF;
}

.cor4 {
    color: rgba(130, 132, 136, 0.308);
}

.cor5 {
    color: rgba(130, 132, 136, 0);
}

.dominio {
    /* teste */
    margin-top: auto;
}


/* dskdfygaskjgfk\ */


/* Comportamento em celulares: */

@media only screen and (max-width: 480px) {
    .esconde-cel {
        display: none !important;
    }
    #eqp2 {
        margin-top: 5%;
    }
    .titulo {
        margin-top: 10%;
    }
    .mgtCel {
        margin-top: 5%;
    }
}


/* Estilo principal do site */


/* Botões */

.tagA {
    position: relative;
    padding: 10px 20px;
    background: rgba(130, 132, 136, 0.123);
    color: #ABB6FF;
    font-size: 15px;
    border-radius: 1px;
}

a.tagA:hover {
    background: rgba(130, 132, 136, 0.253);
    color: #ABB6FF;
}

.tagActive {
    position: relative;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.733);
    font-size: 15px;
    background-color: rgba(171, 182, 255, 0.562);
}

a.tagActive:hover {
    background: rgba(171, 182, 255, 0.671);
    color: rgba(0, 0, 0, 0.733);
}

.botao:hover {
    color: black;
    border: 0px solid black;
}

.botao {
    position: relative;
    padding: 10px 20px;
    background: rgba(130, 132, 136, 0);
    color: black;
    font-size: 15px;
    transition: all 1s;
    border: 0;
}

.botao:after,
.botao:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid rgba(130, 132, 136, 0.308);
    ;
    transition: all 1s;
}

.botao:after {
    top: -1px;
    left: -1px;
    border-top: 2px solid #ABB6FF;
    border-left: 2px solid #ABB6FF;
}

.botao:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 2px solid #ABB6FF;
    border-right: 2px solid #ABB6FF;
}

.botao:hover:before,
.botao:hover:after {
    width: 100%;
    height: 100%;
}

.botaoActive {
    position: relative;
    padding: 10px 20px;
    border: 2px solid #ABB6FF;
    color: black;
    font-size: 15px;
}

.botaoActiveConst {
    position: relative;
    padding: 10px 20px;
    background-color: #ABB6FF;
    border: 2px solid #ABB6FF;
    color: black;
    font-size: 15px;
}


/* Animações */

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.grow:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


/* Informações sobre a equipe: */

.equipe-area2 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 400px;
    width: 275px;
    -webkit-box-shadow: 0px 0px 3px 0px rgb(65, 67, 82);
    -moz-box-shadow: 0px 0px 3px 0px rgb(65, 67, 82);
    box-shadow: 0px 0px 3px 0px rgb(65, 67, 82);
}

.equipe-area2 .equipe-thumb {
    position: relative;
    z-index: 1;
    padding: 40px 40px 0 40px;
    border-radius: 10px;
}

.equipe-area2 .equipe-thumb img {
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    transition-duration: 1500ms;
    border-radius: 50%;
    width: 100%;
}

.equipe-area2 .social-info {
    position: absolute;
    top: -180px;
    right: 0;
    z-index: 22;
    background-color: #ABB6FF;
    padding: 15px;
    border-radius: 0 10px 0 10px;
    text-align: center;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
}

.equipe-area2 .social-info a {
    display: block;
    font-size: 18px;
    color: #2B3240;
    margin-bottom: 5px;
}

.equipe-area2 .social-info a:last-child {
    margin-bottom: 0;
}

.equipe-area2 .equipe-info {
    position: absolute;
    padding: 25px 15px;
    width: 100%;
    z-index: 22;
}

.equipe-area2 .equipe-info h5 {
    font-size: 19px;
    font-weight: 500;
    color: #ABB6FF;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.equipe-area2 .equipe-info p {
    color: #ABB6FF;
    margin-bottom: 0;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1;
}

.equipe-area2:hover .social-info,
.equipe-area2:focus .social-info {
    top: 0;
}


/* Geral (Background, images, margins, paddings, etc...) */

.fundo {
    background-color: #ADC7FF;
    color: #2B3240;
}

.mgt-10 {
    margin-top: 10%;
}

.mgt-2 {
    margin-top: 2%;
}

.mgt-5 {
    margin-top: 5%;
}

.bkgnav {
    background-color: rgba(130, 132, 136, 0.308);
}

.bkgnav2 {
    background-color: rgba(130, 132, 136, 0);
    cursor: pointer;
}

.justif {
    text-align: justify;
}

.logo {
    max-height: 20%;
    max-width: 20%;
}

.imagens {
    height: 200px;
    max-width: 50%;
    border-radius: 30px;
}

.logo-text {
    font-size: 30px;
}

#fundo {
    position: absolute;
}

.pdt-5 {
    padding-top: 7%;
}

.pdb-5 {
    padding-bottom: 5%;
}

.mgt-5 {
    margin-top: 5%;
}

.mgt-80 {
    margin-top: 93vh;
    color: white;
    text-shadow: 1px 2px black;
    vertical-align: middle;
}

.w50 {
    width: 500px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    width: 100%;
}

.fullSc {
    height: 100vh;
    width: 100%;
}

.mg-auto {
    margin: auto;
    vertical-align: middle;
}

.img-centro {
    width: 35vh;
    height: 65vh;
}

.float-left {
    float: left;
}

.borderRadius {
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
}

.height-100 {
    height: 100vh;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.preto {
    color: black;
}

.img-200-200 {
    width: 210px;
    height: 210px;
}

.bkInf {
    background: rgba(255, 255, 0, 0.363);
    text-align: center;
}

.w-50 {
    width: 50%;
}

.navbaar {
    margin-left: 2%;
}

.webkit {
    -webkit-box-shadow: 0px 0px 5px 0px #1695df;
    -moz-box-shadow: 0px 0px 5px 0px #1695df;
    box-shadow: 0px 0px 5px 0px #1695df;
}

.obrig {
    color: rgba(255, 0, 0, 0.671);
}

.mgl {
    float: right;
}

.mgr {
    float: left;
}

.mg-form {
    margin-top: 2%;
}

.mg-contato {
    margin-top: 2%;
}

.alRight {
    float: right;
    color: rgb(29, 153, 29);
}